@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

div.pagination_link_list {
  display: flex;
}

.pagenation_plain_element {
  margin-left: 5px;
  margin-right: 5px;
}

.pagination_link_element {
  color: blue;
  margin-left: 5px;
  margin-right: 5px;
}

.pagination_link_element:hover {
  cursor: pointer;
}

.calendar {
  width: 200px;
}

.menu_list {
  text-align: center;
}

.menu {
  padding: 5px
}

details {
  padding: 10px;
  justify-content: center;
  /* TODO 備考欄の文字数が多いとき、アコーディオン展開時にレイアウトが崩れるため暫定措置 */
  /* max-width: 350px;
  min-width: 350px; */
  width: 350px;
  max-width: 90%;
  display: inline;
}

/* summary */
details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  background: #7B61FF;
  color: #fff;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  list-style: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

details summary::-webkit-details-marker {
  display: none;
}

/* summaryのchevronアイコン部分 */
details summary span {
  position: relative;
  transform: rotate(0deg);
  transform-origin: -8px 0;
  transition: all 0.3s ease;
}

details summary span:before,
details summary span:after {
  position: absolute;
  content: "";
  background: #fff;
  width: 12px;
  height: 2px;
  top: 50%;
}

details summary span:before {
  right: 8px;
  transform: rotate(45deg);
}

details summary span:after {
  right: 0;
  transform: rotate(-45deg);
}

/* 詳細部分 */
details ul {
  font-size: 14px;
  background: #fff;
  border: 2px solid #7B61FF;
  color: #7B61FF;
  border-radius: 0 0 8px 8px;
  margin: 0;
  padding: 8px 12px;
  list-style: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
  width: 100%;
}

details ul li {
  padding: 12px;
  text-align: left;
}

details ul li:not(:last-child) {
  border-bottom: 1px dashed #7B61FF;
}

/* open時のanimation */
details[open] summary {
  border-radius: 8px 8px 0 0;
}

details[open] summary span {
  transform: rotate(180deg);
}

details[open] ul {
  opacity: 1;
  transform: translateY(0);
}

details[open] .column_name {
  padding-right: 5px;
}

.register_form {
  display: flex
}

.register_form .row {
  display: flex;
  flex-direction: row;
}


.register_form .cell {
  width: 100px;
}

.register_form .title {
  /* flex: 1; */
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
  min-width: 0;
  /* flex-basis: 150px; 列1の幅を固定 */
  width: 100px;
  overflow-wrap: break-word;
}

.register_form .content {
  /* flex: 1; */
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
  min-width: 0;
  /* flex-basis: 150px; 列1の幅を固定 */
  width: 150px;
  overflow-wrap: break-word;
}

.show_content {
  text-align: center;
}

/* ログイン画面 */

.login-container .fsize {
  font-size: 24px;
  text-align: center;
}

.login-container {
  /* display: grid;
  width: 80%;
  min-width: 900px;
  /* グリッドレイアウト */
  /* grid-template-rows: 100px 50px; */
  /* grid-template-columns: repeat(auto-fit, 40px);
  grid-template-columns: 150px 1fr; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  flex-direction: row;
}


.login-container .item {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button[type="button"] {
  width: 100%;
  padding: 10px;
  background-color: #7B61FF;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button[type="button"]:hover {
  background-color: #B61FFF;
}
